<div class="card-wrapper animate-arrow">
  <a class="card" href="{{ card_collection.url }}">
      {%- if card_collection.image -%}
        <div class="card__media">
          <div class="media">
            <img
              srcset="{{ card_collection.image | image_url: width: 1500 }}"
              alt="{{ card_collection.title | escape }}"
              loading="lazy"
              class="card-image"
            >
          </div>
        </div>
      {%- endif -%}
      <div class="card__content">        
        <div class="card__details">
          <h3 class="card__heading">
              {{- card_collection.title | escape -}}
          </h3>
          {%- if card_collection.description != blank -%}
            <p class="card__caption">
              {{- card_collection.description | strip_html | truncatewords: 12 -}}<span class="icon-wrap">&nbsp;</span>
            </p>
          {%- endif -%}
        </div>   
      </div> 
  </a>
</div>
